{% if article.thumbnail.id %}
  {% set asset = Image(article.thumbnail.id) %}
{% endif %}

<div class="flex flex-col px-grid-parent pt-10 gap-8">
  <div class="flex w-full justify-center items-end max-md:flex-col max-md:items-center max-md:gap-8">
    <div class="flex flex-1 items-start px-grid-child md:w-2/3 max-md:order-2">
      <div class="flex flex-col items-center gap-6 max-md:gap-4">
        <div class="flex w-[65%] justify-center">
          {% include 'components/articles/overline.twig' with { overline: article.categories[0] } %}
        </div>

        <h1 class="type-slab-3xl text-pretty text-center">{{ article.title }}</h1>
      </div>
    </div>

    <div class="flex w-1/3 min-w-1/3 justify-center px-grid-child max-md:order-1 max-md:w-2/3 max-md:max-w-xs">
      {% if asset %}
        {% include 'components/lazy-img.twig' with {
          img: asset,
          class: 'w-full',
        } %}
      {% else %}
        <div class="flex w-full aspect-square bg-gray"></div>
      {% endif %}
    </div>
  </div>

  {% if article.subtitle %}
    <p class="type-sans-xl px-grid-child text-pretty text-left">
      {{ article.subtitle }}
    </p>
  {% endif %}
</div>

