{% if article.color == 'green' %}
  {% set bg_class = 'bg-green' %}
{% elseif article.color == 'orange' %}
  {% set bg_class = 'bg-orange' %}
{% elseif article.color == 'yellow' %}
  {% set bg_class = 'bg-yellow' %}
{% elseif article.color == 'purple' %}
  {% set bg_class = 'bg-purple' %}
{% elseif article.color == 'pink' %}
  {% set bg_class = 'bg-pink' %}
{% else %}
  {% set bg_class = 'bg-black text-white' %}
{% endif %}

<div class="grid grid-site max-w-page mx-auto pt-10">
  <div class="col-span-full md:col-span-16 md:col-start-5 lg:col-span-12 lg:col-start-7 xl:col-span-10 xl:col-start-8">
    <div class="py-6 px-12 flex flex-col items-center justify-between gap-24 min-h-[650px] {{ bg_class }}">

      <div class="order-2">
        {% include 'components/articles/overline.twig' with { overline: article.categories[0], color: article.color } %}
      </div>

      <h1 class="type-slab-2xl text-center text-pretty order-1">{{ article.title }}</h1>

      {% if article.subtitle %}
        <p class="type-sans-lg text-center text-pretty order-3">
          {{ article.subtitle }}
        </p>
      {% endif %}
    </div>
  </div>
</div>
