{
  "root": true,
  "extends": ["@upstatement", "plugin:@wordpress/eslint-plugin/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "wp": "readonly"
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@src", "./static/js"]],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": "./web/wp-content/themes/mozilla-builders/blocks/**/*.js",
      "extends": "@upstatement/eslint-config/react",
      "rules": {
        "react/react-in-jsx-scope": "off"
      },
      "settings": {
        "react": {
          "version": "^16.9.0"
        }
      }
    }
  ]
}
