# OS
.DS_Store
Thumbs.db

# IDE and local environment
/.vscode/

# Packages
/vendor/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Application
.env
/uploads/*
!/uploads/.gitkeep
/plugins/*
!/plugins/.gitkeep
!/plugins/acf-extended/

auth.json

# Tests
.eslintcache

# Local project
_backups/*
!_backups/.gitkeep
!_backups/init.sql.gz

# WordPress core
web/**

# Unignore composer.
!web/composer.json
!web/composer.lock

# Unignore the web/wp-content/themes directory and its contents
!web/wp-content/

# Themes
!web/wp-content/themes/
!web/wp-content/themes/**
web/wp-content/themes/index.php

# Uploads
!web/wp-content/uploads/
!web/wp-content/uploads/.gitkeep

# Plugins
!web/wp-content/plugins/
!web/wp-content/plugins/.gitkeep
!web/wp-content/plugins/acf-extended/

# Turborepo
.turbo
