includes:
    - web/vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    scanFiles:
        - web/vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - web/wp-content/themes/mozilla-labs
    excludePaths:
        - */node_modules/*
        - */vendor/*
        - */plugins/acf-extended/*
