<!DOCTYPE html>
<html class="no-js" lang="en-us">

{% include "layouts/includes/head.twig" %}

<body x-data x-links
  class="{{ body_class }} {{ pagename ? 'page-name-' ~ pagename }} theme-light {% block custom_body_classes %}{% endblock %}">

  <a href="#content" class="sr-only focus:not-sr-only !absolute inset-x-0 top-0">
    <div class="w-full flex items-center justify-center p-1.5 bg-content">
      <span class="text-main text-center text-sm font-semibold tracking-wide uppercase">Skip to content</span>
    </div>
  </a>

  {% include "layouts/includes/svgs.twig" %}

  {% if wp_env == 'development' %}
    {% include "layouts/includes/grid.twig" %}
  {% endif %}

  <div class="flex flex-col flex-1 min-h-screen">

    {% include "components/nav.twig" %}

    <main id="content" class="flex flex-col flex-1 {% block custom_content_classes %}{% endblock %}" tabindex="-1">
      {% block pageBody %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "components/footer.twig" %}
    {% endblock %}

  </div>

  {{ function('wp_footer') }}

  {% block scripts %}
  {% endblock %}

</body>

</html>
