<div
  class="fixed inset-0 pointer-events-none z-[9999] hidden grid-site data-[show=true]:grid"
  x-data="{ show: false }"
  @keydown.0.window="show = !show"
  :data-show="show"
  >
  {% for i in range(1, 24) %}
    <div class="bg-pink/20 max-md:[&:nth-child(n+7)]:hidden"></div>
  {% endfor %}
</div>
