<style>
.site-grid {
  padding-left: 3.18%;
  padding-right: 3.18%;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.show-grid .site-grid {
  display: block;
}

.site-grid__inner {
  min-height: 100vh;
  pointer-events: none;
}

.site-grid__col {
  float: left;
  width: 16.666666667%;
  pointer-events: none;
  padding-left: 3.18%;
  padding-right: 3.18%;
}

.site-grid__col:nth-child(n+7) {
  display: none;
}

.site-grid__col-inner {
  display: block;
  background-color: rgba(255,0,0,0.25);
  min-height: 100vh;
}

@media (min-width: 768px) {
  .site-grid {
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
  }
  .site-grid__col {
    width: 4.16666666667%;
    padding-left: 1.388888888%;
    padding-right: 1.388888888%;
  }

  .site-grid__col:nth-child(n+7) {
    display: block;
  }
}

</style>

<div class="site-grid">
  <div class="site-grid__inner">
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
  </div>
</div>
