<div class="
  type-headline-80 w-full my-32 md:my-52 first:mt-0 last:mb-0 px-grid-site-margin text-secondary/60
  [&_p_a]:underline [&_p_a]:underline-offset-4 [&_p_a]:decoration-[3px] [&_p_a]:hocus:text-white
">
  {{ block.text|raw }}
</div>
