<section class="type-headline-80 w-full my-32 md:my-52 first:mt-0 last:mb-0 px-grid-site-margin">
    <h2 class="text-secondary/60 [&_p_a]:hover:text-white [&_p_a]:focus:text-white">{{ block.copy|raw }}</h2>
</section>
