<a href="{{ href }}"
  class="flex justify-center w-full p-10 uppercase text-center text-content border-none transition-shadow shadow-inner shadow-content
         hocus:shadow-inner-thick hocus:shadow-content">
  {{ label }}
</a>
