{% set global_signup = options.email_signup %}

{% if options.include_email_signup %}
<section id="email-signup" class="grid grid-site scroll-mt-24 gap-y-12 mt-32 md:mt-48 isolate">
  <h2 class="sr-only">Email Sign-up</h2>

  <div class="col-span-full type-headline-20 prose mx-auto w-5/6 md:max-w-xl text-center">
    {{ override.prompt|default(global_signup.prompt) }}
  </div>

  <div class="relative col-span-full grid grid-cols-[subgrid] grid-rows-[auto_1fr]">
    <form
      id="newsletter-form"
      class="mzp-c-newsletter-form mt-[10%] md:mt-[12.5%] row-start-1 row-end-2 col-start-1 col-end-7 md:col-start-4 md:col-end-10 3xl:col-start-5 3xl:col-end-9 z-20"
      method="post"
      action="https://basket.mozilla.org/news/subscribe/"
    >
      <!-- The value for the source_url field below should match the URL of your page where the newsletter form appears-->
      <input type="hidden" name="source_url" value="{{ current_url }}">

      <fieldset class="mzp-c-newsletter-content">
        <div class="mzp-c-form-errors hidden" id="newsletter-errors">
          <ul class="mzp-u-list-styled">
            <li class="error-email-invalid hidden">
              Please enter a valid email address
            </li>
            <li class="error-newsletter-checkbox hidden">
              Please check at least one of the newsletter options.
            </li>
            <li class="error-privacy-policy hidden">
              You must agree to the privacy notice
            </li>
            <li class="error-try-again-later hidden">
              We are sorry, but there was a problem with our system. Please try again later!
            </li>
          </ul>
        </div>

        <div class="p-2 pl-5 bg-black/60 [.theme-dark_&]:bg-off-black/60 backdrop-blur-md text-white flex justify-between items-center gap-2">
          <label class="sr-only" for="id_email">Your email address</label>

          <input
            id="id_email"
            class="mzp-js-email-field bg-transparent flex-1 py-1 font-headline font-wdth-380 font-semibold outline-none text-sm tracking-normal placeholder:text-white"
            type="email"
            name="email"
            required=""
            maxlength="320"
            placeholder="Enter Your Email"
          >

          <button type="submit" class="mzp-c-button group w-fit flex gap-1 cursor-pointer" id="newsletter-submit">
            <span class="w-fit button button-sm group-hocus:bg-black [.theme-dark_&]:group-hocus:bg-white [.theme-dark_&]:group-hocus:text-black">
              {{ override.cta|default(global_signup.cta) }}
            </span>

            <svg class="button button-square p-[10.5px] transition-all group-hocus:bg-black [.theme-dark_&]:group-hocus:bg-white [.theme-dark_&]:group-hocus:text-black" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none">
                <path d="M9.875 5L3.91667 0V4.375H0.125V5.625H3.91667V10L9.875 5ZM5.16667 4.375V2.70833L7.91667 5L5.16667 7.29167V4.375Z" fill="currentColor"/>
              </svg>
            </svg>
          </button>
        </div>

        <div id="newsletter-details" class="mzp-c-newsletter-details">
          <div class="hidden">
            <label for="id_country">Country</label>
            <select name="country" id="id_country">
                <option value="us" selected>United States</option>
                <!-- <option value="de">Germany</option> -->
                <!-- <option value="fr">France</option> -->
                <!-- <option value="in">India</option> -->
                <!-- <option value="jp">Japan</option> -->
                <!-- <option value="es">Spain</option> -->
            </select>
          </div>

          <div class="hidden">
            <label for="id_lang">Language</label>
            <select name="language" id="id_lang">
                <option value="en" selected>English</option>
                <!-- <option value="de">Deutsch</option> -->
                <!-- <option value="es">Español</option> -->
                <!-- <option value="fr">Français</option> -->
                <!-- <option value="hi-IN">हिन्दी (भारत)</option> -->
                <!-- <option value="ja">日本語</option> -->
            </select>
          </div>

          <fieldset class="mzp-u-inline hidden">
            <legend>I want information about:</legend>
            <p>
              <label for="id_newsletters_0" class="mzp-u-inline">
                <input type="checkbox" name="newsletters" value="mozilla-labs" id="id_newsletters_0" checked>
                Mozilla Labs
              </label>
            </p>
          </fieldset>

          <p>
            <label for="privacy" class="mzp-u-inline">
              <input type="checkbox" id="privacy" name="privacy" required aria-required="true">
              I’m okay with Mozilla handling my info as explained in <a
                href="https://www.mozilla.org/privacy/websites/">this Privacy Notice</a>
            </label>
          </p>
        </div>
      </fieldset>
    </form>

    <div id="newsletter-thanks" class="mzp-c-newsletter-thanks hidden">
      <h3>Thanks!</h3>
      <p>If you haven’t previously confirmed a subscription to a Mozilla-related newsletter you may have to do so. Please check your inbox or your spam filter for an email from us.</p>
    </div>

    {% if (override is defined and override.graphic) or global_signup.graphic %}
      <div class="col-start-1 col-end-7 md:col-start-2 md:col-end-12 xl:col-start-3 xl:col-end-11 -mx-grid-site-margin md:mx-0 row-span-full overflow-hidden pointer-events-none relative">
        {% include "components/lazy-img.twig" with {
          class: "h-auto w-[200%] sm:w-[150%] md:w-full left-1/2 -translate-x-1/2",
          img: get_image(override.graphic|default(global_signup.graphic)),
          alt: "",
        } %}

        <div class="absolute h-dither-fade w-full bottom-0 left-0 pointer-events-none">
          {% include "components/fade-to-bottom-dither.twig" %}
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% endif %}
