<header class="grid grid-site py-52 md:py-60">
  <div class="col-span-6 md:col-span-12 flex justify-center">
    <div class="grid grid-cols-6 md:flex md:flex-row md:gap-x-10">
      <h1 class="col-span-2 sm:col-span-3 type-headline-20">{{ page }}<span aria-hidden="true">/</span></h1>
      <p class="col-span-4 sm:col-span-3 type-headline-20 text-secondary/60">
        {{ description }}
      </p>
    </div>
  </div>
</header>
