<header>
  <nav class="grid grid-site py-site centered-page relative z-10" aria-label="Site">
    <svg class="size-5 shrink-0 text-content" aria-hidden="true">
      <use xlink:href="#flag"></use>
    </svg>

    <ul class="flex flex-wrap justify-end items-center gap-x-2 lg:gap-x-2 gap-y-0.5 lg:gap-y-1 -mt-px max-md:hidden">
      {% for item in nav_pages_menu.items %}
      <li>
        <a href="{{ item.url }}" {% if item.current %}aria-current="page"{% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
