<header class="grid grid-site border-b border-content pb-4 pt-48">
  <h1 class="col-span-6 md:col-start-4 2xl:col-start-2 lg:col-span-6 w-full md:max-w-[600px] mx-auto 2xl:col-span-10 type-headline-40">
    <span class="w-full">
      {{ post.title }}
    </span>
  </h1>
</header>
