<header class="grid grid-site gap-y-grid-site-gutter pt-[20vh] pb-[20vh]">
  <h2 class="col-span-full sm:col-span-1/2 type-headline-20 font-bold">{{ headline|default(page.title) }}</h2>

  {% if description %}
    <div class="col-span-full sm:col-span-1/2 type-headline-20 prose">
      {{ description }}
    </div>
  {% endif %}
</header>
