{% if posts is not empty %}
<section class="mt-12 md:mt-24 grid grid-site centered-page">
  <div class="col-span-full border border-content p-1">
    <h2 class="uppercase text-center text-xs leading-3 tracking-wide">{{ title|default('Related stories') }}</h2>
  </div>

  <ul class="contents">
    {% for article in posts %}
      <li class="mt-6 flex flex-col flex-1 col-span-full md:col-span-12 xl:col-span-6">
        {% include 'components/articles/previews/preview--' ~ article.topper_type|default('text_only') ~ '.twig' with { post: article } %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
