{% if block.items|length > 1 %}
<section class="splide my-32 md:my-48 first:mt-0 last:mb-0" x-init x-image-carousel>
  <div class="splide__track">
    <ul class="splide__list">
      {% for item in block.items %}
      <li class="splide__slide w-full h-auto">
        {% include "components/dither-image.twig" with {
          image: item.image,
          fade_position: block.fade_position,
          caption: item.caption,
          product: item.product ? get_post(item.product) : null,
        } %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="
    splide__arrows
    flex gap-1 justify-end p-grid-site-margin
    md:absolute md:bottom-0 md:right-0
    {% if block.fade_position == "bottom" %}max-md:py-0{% endif %}
  ">
    <button class="splide__arrow splide__arrow--prev button button-xs">
      Previous
    </button>

    <button class="splide__arrow splide__arrow--next button button-xs">
      Next
    </button>
  </div>
</section>
{% elseif block.items|length == 1 %}
<section class="my-32 md:my-48 first:mt-0 last:mb-0">
  {% set item = block.items|first %}

  {% include "components/dither-image.twig" with {
    image: item.image,
    fade_position: block.fade_position,
    caption: item.caption,
    product: item.product ? get_post(item.product) : null,
  } %}
</section>
{% endif %}
