<section class="col-span-full sm:col-span-6 lg:col-span-3 lg:sticky top-24 max-md:mt-4 flex flex-row-reverse justify-between gap-x-grid-site-margin items-start md:grid grid-cols-3 auto-rows-auto h-fit md:gap-x-grid-site-gutter" aria-label="Overview">
  {% if icon %}
    {% include "components/lazy-img.twig" with {
      class: "max-md:w-1/4 shrink-0 mb-8 max-w-[80px] max-h-[80px]",
      img: icon
    } %}
  {% endif %}

  <div class="flex flex-col col-start-1 col-end-4">
    {% if title %}
      <p class="type-headline-20 leading-tight">
        {{ title }}
      </p>
    {% endif %}

    {% if tagline %}
      <p class="type-headline-20 text-secondary/60 text-balance leading-tight md:max-w-[280px]">{{ tagline }}</p>
    {% endif %}
  </div>
</section>
