@use 'functions/color';
@use 'mixins/font-face' as font;
@use 'mixins/grid';

@use 'base/code';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Mozilla Sans
@include font.face('Mozilla Sans', 'MozillaText-Light', 300, normal);
@include font.face('Mozilla Sans', 'MozillaText-LightItalic', 300, italic);
@include font.face('Mozilla Sans', 'MozillaText-Regular', 400, normal);
@include font.face('Mozilla Sans', 'MozillaText-Italic', 400, italic);
@include font.face('Mozilla Sans', 'MozillaText-Bold', 700, normal);
@include font.face('Mozilla Sans', 'MozillaText-BoldItalic', 700, italic);
// Mozilla Headline
@include font.face('Mozilla Headline', 'MozillaHeadline-Light', 300, normal);
@include font.face('Mozilla Headline', 'MozillaHeadline-Regular', 400, normal);
@include font.face('Mozilla Headline', 'MozillaHeadline-SemiBold', 600, normal);
// Mozilla Headline Condensed
@include font.face('Mozilla Headline Condensed', 'MozillaHeadlineCondensed-Light', 300, normal);
@include font.face('Mozilla Headline Condensed', 'MozillaHeadlineCondensed-Regular', 400, normal);
@include font.face('Mozilla Headline Condensed', 'MozillaHeadlineCondensed-SemiBold', 600, normal);
// Source Code Pro
@include font.face('Source Code Pro', 'SourceCodePro-Regular', 400, normal);
@include font.face('Source Code Pro', 'SourceCodePro-It', 400, italic);
@include font.face('Source Code Pro', 'SourceCodePro-Bold', 700, normal);
@include font.face('Source Code Pro', 'SourceCodePro-BoldIt', 700, italic);

:root {
  @apply [--100vw:min(100vw,1920px)];
  @apply [--grid-site-cols:6] md:[--grid-site-cols:24];
  @apply [--grid-site-margin:calc((24/400)*var(--100vw))] md:[--grid-site-margin:calc((32/1440)*var(--100vw))];
  @apply [--grid-site-gutter:calc((24/400)*var(--100vw))] md:[--grid-site-gutter:calc((40/1440)*var(--100vw))];

  --color-black: #{color.rgb(#161616)};
  --color-off-black: #{color.rgb(#242424)};
  --color-white: #{color.rgb(#fafafa)};
  --color-gray: #{color.rgb(#f0f0f0)};
  --color-gray-dark: #{color.rgb(#6d6d6d)};
  --color-stone: #{color.rgb(#e8e8e8)};
  --color-green-light: #{color.rgb(#d7ffcd)};
  --color-green: #{color.rgb(#00d230)};
  --color-green-dark: #{color.rgb(#297340)};
  --color-green-darker: #{color.rgb(#032612)};
  --color-orange-light: #{color.rgb(#faf0e6)};
  --color-orange: #{color.rgb(#ff9456)};
  --color-orange-dark: #{color.rgb(#fe4540)};
  --color-orange-darker: #{color.rgb(#330505)};
  --color-yellow: #{color.rgb(#e0ee59)};
  --color-pink-light: #{color.rgb(#fef1f8)};
  --color-pink: #{color.rgb(#ff97e2)};
  --color-pink-dark: #{color.rgb(#ae49ed)};
  --color-pink-darker: #{color.rgb(#210341)};
  --color-olive: #{color.rgb(#b3b898)};
  --color-olive-dark: #{color.rgb(#6c7863)};
  --color-blue-green: #{color.rgb(#6bbcae)};
}

body {
  @apply bg-main text-content;
  @apply font-sans font-normal text-base antialiased;
}

@layer base {
  .theme-light {
    --color-main: var(--color-white);
    --color-secondary: var(--color-gray);
    --color-content: var(--color-black);
    --color-content-reverse: var(--color-white);
    --color-code: var(--color-black);
    --color-spot: var(--color-green);

    --color-action: var(--color-black);
    --color-action-reverse: var(--color-white);
    --color-action-focus: var(--color-green);
    --color-action-focus-reverse: var(--color-black);

    --color-action-secondary: var(--color-green);
    --color-action-secondary-reverse: var(--color-black);
    --color-action-secondary-focus: var(--color-black);
    --color-action-secondary-focus-reverse: var(--color-white);
  }

  .theme-dark {
    --color-main: var(--color-black);
    --color-secondary: var(--color-gray);
    --color-content: var(--color-white);
    --color-content-reverse: var(--color-black);
    --color-code: var(--color-black);
    --color-spot: var(--color-green);

    --color-action: var(--color-green);
    --color-action-reverse: var(--color-black);
    --color-action-focus: var(--color-white);
    --color-action-focus-reverse: var(--color-black);

    --color-action-secondary: var(--color-white);
    --color-action-secondary-reverse: var(--color-black);
    --color-action-secondary-focus: var(--color-black);
    --color-action-secondary-focus-reverse: var(--color-white);
  }
}

@layer components {
  .type-headline-3xl {
    @apply text-10xl font-headline-condensed font-semibold leading-none;
  }

  .type-headline-2xl {
    @apply text-8xl font-headline-condensed font-semibold leading-none;
  }

  .type-headline-xl {
    @apply text-6xl font-headline-condensed font-semibold leading-none;
  }

  .type-headline-lg {
    @apply text-2xl font-headline-condensed font-semibold leading-tight;
  }

  .type-headline-md {
    @apply text-xl font-headline-condensed font-semibold leading-tight;
  }

  .type-sans-3xl {
    @apply text-10xl font-sans font-light leading-tighter tracking-tighter;
  }

  .type-sans-2xl {
    @apply text-8xl font-sans font-light leading-tighter tracking-tight;
  }

  .type-sans-xl {
    @apply text-6xl font-sans font-normal leading-tighter tracking-tight;
  }

  .type-sans-lg {
    @apply text-4xl font-sans font-normal leading-tighter tracking-tight;
  }

  .type-sans-md {
    @apply text-2xl font-sans font-normal leading-tighter tracking-tight;
  }

  .type-sans-sm {
    @apply text-xl font-sans font-normal leading-tighter tracking-tight;
  }

  .type-code {
    @apply bg-code font-monospace text-white py-0.5 px-1 decoration-clone text-sm;
  }

  .type-caption {
    @apply text-sm text-content/70 leading-tight;

    strong {
      @apply text-content;
    }
  }
}

@layer utilities {
  .centered-page {
    @apply max-w-page w-full mx-auto;
  }

  .mask-arrow-down {
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><path fill-rule="evenodd" clip-rule="evenodd" d="M69.4914 37.7046L35.9853 71.2088L2.45056 37.6741L6.99567 33.129L32.834 58.9674L32.8349 3.65049L39.1375 3.65039L39.1366 58.9667L65.0628 33.2756L69.4914 37.7046Z" fill="currentColor"/></svg>');
  }

  .mask-quote {
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H75V75H0V0ZM66.6662 66.6662H74.9995V74.9995H66.6662V66.6662ZM42.9999 35.1469L47.2749 28.1719H43.1499L38.5749 35.1469V43.6219H47.1999V35.1469H42.9999ZM27.3999 35.1469V43.6219H36.0249V35.1469H31.8249L36.0999 28.1719H31.9749L27.3999 35.1469Z" fill="currentColor"/></svg>');
  }

  .mask-critter {
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M119.317 34.0566C121.817 51.5566 113.317 80.0566 81.8174 85.5566C81.8174 98.5566 97.8174 106.057 109.817 105.557C111.455 105.488 113.608 105.334 116.136 105.152C132.133 104.003 163.129 101.777 173.317 113.557C174.557 114.991 175.684 116.631 176.706 118.437C176.754 118.424 176.804 118.411 176.858 118.396C178.845 117.863 184.924 116.233 189.816 101.557C190.816 98.5566 187.316 88.0566 184.316 84.0654C178.391 76.1824 185.816 77.5567 188.816 80.5671C188.902 80.6526 189.003 80.7521 189.119 80.8655C191.398 83.0971 199.195 90.7338 196.816 104.057C194.316 118.057 188.816 129.557 182.816 134.568C182.747 134.626 182.677 134.674 182.607 134.713C187.826 157.319 186.043 186.333 185.316 191.057C184.316 197.557 181.317 198.557 174.817 199.057C168.317 199.557 165.816 198.057 164.317 191.057C162.963 184.738 162.317 166.89 162.817 158.557L141.817 163.557C142.317 171.39 143.017 188.357 141.817 193.557C140.317 200.057 133.816 199.057 130.816 198.557C123.467 197.332 122.803 194.708 122.225 192.423C122.105 191.948 121.989 191.487 121.817 191.057C121.017 189.057 121.15 173.223 121.317 165.557C120.201 165.612 118.88 165.743 117.372 165.892L117.372 165.892C114.375 166.188 110.641 166.557 106.317 166.557C102.297 166.557 95.6499 166.057 92.8166 165.557C93.6499 172.39 94.8166 187.357 92.8166 192.557C91.855 195.057 90.3164 196.557 84.8164 196.557C77.7628 196.557 77.1731 193.903 76.456 190.676C76.4106 190.471 76.3647 190.265 76.3166 190.057C74.8164 183.557 75.1499 169.89 76.3166 163.557L61.8166 160.057C62.3166 168.057 63.0166 185.457 61.8166 191.057C60.5362 197.032 56.341 196.814 52.6523 196.622C52.0197 196.589 51.4021 196.557 50.8166 196.557C50.6244 196.557 50.4323 196.558 50.2405 196.559C46.4092 196.582 42.6736 196.604 39.8166 187.557C37.4166 179.957 40.1499 122.057 41.8166 94.0566C29.4834 91.5566 4.31714 81.1566 2.31714 59.5566C-0.182861 32.5566 11.8171 10.0566 48.3171 3.05661C84.8171 -3.94339 117.318 7.05661 119.317 34.0566ZM36.8164 58.0566C45.3768 58.0566 52.3164 51.7886 52.3164 44.0566C52.3164 36.3247 45.3768 30.0566 36.8164 30.0566C28.256 30.0566 21.3164 36.3247 21.3164 44.0566C21.3164 51.7886 28.256 58.0566 36.8164 58.0566ZM98.3164 44.0566C98.3164 51.7886 90.7052 58.0566 81.3164 58.0566C71.9276 58.0566 64.3164 51.7886 64.3164 44.0566C64.3164 36.3247 71.9276 30.0566 81.3164 30.0566C90.7052 30.0566 98.3164 36.3247 98.3164 44.0566Z" fill="currentColor"/></svg>');
  }

  .hover-link {
    @apply md:before:content-['\['] md:after:content-['\]'];
    @apply max-md:underline;
    @apply hover:bg-action-focus focus:bg-action-focus;
    @apply hover:no-underline focus:no-underline;
    @apply hover:text-action-focus-reverse focus:text-action-focus-reverse;
  }

  // Grid utilities
  @for $i from 1 through 24 {
    .grid-cols-#{$i} {
      @include grid.template-columns($i);
    }
    .col-span-#{$i} {
      @include grid.column-span($i);
    }
    .col-start-#{$i} {
      @include grid.column-start($i);
    }
    .col-end-#{$i} {
      @include grid.column-end($i);
    }
  }
  .grid-cols-site {
    @include grid.template-columns(var(--grid-site-cols));
  }
  .col-span-1\/2 {
    @include grid.column-span(calc(var(--column-count) / 2));
  }
  .col-span-1\/3 {
    @include grid.column-span(calc(var(--column-count) / 3));
  }
  .col-span-1\/4 {
    @include grid.column-span(calc(var(--column-count) / 4));
  }
  .col-span-2\/3 {
    @include grid.column-span(calc(var(--column-count) * 2 / 3));
  }
  .col-span-1\/6 {
    @include grid.column-span(calc(var(--column-count) / 6));
  }
  .col-span-2\/6 {
    @include grid.column-span(calc(var(--column-count) * 2 / 6));
  }
  .col-span-3\/6 {
    @include grid.column-span(calc(var(--column-count) * 3 / 6));
  }
  .col-span-4\/6 {
    @include grid.column-span(calc(var(--column-count) * 4 / 6));
  }
  .col-span-5\/6 {
    @include grid.column-span(calc(var(--column-count) * 5 / 6));
  }
  .col-span-3\/8 {
    @include grid.column-span(calc(var(--column-count) * 3 / 8));
  }
  .col-span-full {
    @include grid.column-span(var(--column-count));
  }
  .col-span-screen {
    @apply col-span-full -mx-grid-site-margin;
  }
  .col-start-center {
    @include grid.column-start(calc((var(--column-count) - var(--column-span)) / 2 + 1));
  }
  .col-start-end {
    @include grid.column-start(calc(var(--column-count) - var(--column-span) + 1));
  }
  .grid-site {
    @apply grid-cols-site gap-x-grid-site-gutter px-grid-site-margin;
  }

  .prose {
    // Gap between blocks
    > * + * {
      @apply mt-6;
    }

    // Headings
    > h2 {
      @apply text-xl font-bold uppercase indent-8;
    }
    > h3 {
      @apply text-xl uppercase indent-8;
    }
    > h4 {
      @apply font-bold uppercase indent-8;
    }
    > h5 {
      @apply uppercase indent-8;
    }
    > h6 {
      @apply uppercase indent-8;

      span {
        @apply bg-content text-main px-0.5;
      }
    }

    // Paragraphs
    > p {
      @apply indent-8;

      &:empty {
        @apply hidden;
      }
    }

    // Lists
    > ul,
    > ol {
      li {
        @apply leading-normal;
      }

      li + li,
      li > ul,
      li > ol {
        @apply mt-2;
      }
    }
    > ul li {
      @apply relative pl-8;

      &::before {
        content: '';
        @apply absolute left-0 top-[7px] flex size-2.5 bg-green;
      }
    }
    > ul ul li {
      &::before {
        content: '';
        @apply size-2 bg-green-dark;
      }
    }
    > ul ul ul li {
      &::before {
        content: '';
        @apply size-2 bg-green-darker;
      }
    }
    > ol li {
      @apply relative pl-8;

      &::before {
        content: '0' counter(list-item);
        @apply absolute left-0 top-0 font-semibold text-content;
      }

      &:nth-child(n + 10)::before {
        content: counter(list-item);
      }
    }
    > ol ol li {
      @apply pl-5;

      &::before {
        content: counter(list-item, upper-alpha);
      }
    }
    > ol ol ol li {
      &::before {
        content: counter(list-item, upper-roman);
      }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > ul > li,
    > ol > li,
    > pre {
      // Inline images
      img {
        @apply inline-flex translate-y-[-5%];
        @apply h-[1em] w-auto !important;
      }

      // Inline code
      code {
        @apply type-code;
      }

      // Inline links
      a {
        @apply underline hover:bg-action-focus focus:bg-action-focus hover:no-underline focus:no-underline hover:text-action-focus-reverse focus:text-action-focus-reverse;
      }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        @apply mt-0;
      }
    }

    // Separators
    hr {
      @apply my-6 border-transparent overflow-visible;

      &::before {
        content: '';
        @apply block h-[1px] w-full bg-spot;
      }
    }
  }

  .gutenberg {
    @apply grid grid-site centered-page;
    @apply prose;

    // Column-sizing
    > * {
      // Apply full-width size to all blocks, by default
      @apply col-span-full col-start-center;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > pre,
    > ul,
    > ol,
    hr {
      @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
    }

    // Paragraphs
    > p {
      &:first-child:is(.lede *) {
        @apply type-headline-lg mb-2 md:mb-6 md:col-span-18 lg:col-span-14;
      }
    }

    // Code block
    pre {
      code {
        @apply block bg-code text-white px-4 py-3 leading-loose;
      }
    }

    // Alignment
    > figure,
    > [data-block] {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
      }

      &.alignwide {
        @apply md:col-span-20;
      }

      &.alignfull:not(.wp-block-pullquote):not(.wp-block-table) {
        @apply md:col-span-screen;

        figcaption {
          @apply md:px-[--grid-site-margin];
        }
      }
    }

    // Figures and captions
    > figure {
      @apply flex flex-col gap-3;

      figcaption {
        @apply type-caption;
      }

      &.alignfull:not(.wp-block-pullquote):not(.wp-block-table) {
        figcaption {
          @apply md:px-[--grid-site-margin];
        }
      }
    }

    // Blockquotes
    figure.wp-block-pullquote,
    > blockquote {
      @apply flex flex-col gap-3 relative;

      &::before {
        content: '';
        @apply type-headline-lg absolute top-0.5 left-0 block shrink-0 bg-current mask-quote size-[0.9em];
      }

      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
      }

      &.alignwide {
        @apply md:col-span-20 lg:col-span-16;

        p {
          @apply 2xl:indent-[calc(0.125*var(--100vw))];
        }
      }

      &.alignfull {
        @apply md:col-span-full;

        &::before {
          content: '';
          @apply md:type-headline-xl md:top-1 xl:top-2 md:size-[0.85em];
        }

        p {
          @apply md:type-headline-xl leading-tighter md:indent-[calc(0.165*var(--100vw))] lg:indent-[calc(0.245*var(--100vw))] 2xl:indent-[calc(0.2875*var(--100vw))];
        }
      }

      p {
        @apply type-headline-lg leading-tighter indent-[calc(0.11*var(--100vw))] md:indent-[calc(0.08*var(--100vw))];
      }

      cite {
        @apply type-caption not-italic;
      }
    }

    // Tables
    figure.wp-block-table {
      table {
        thead {
          @apply border-t border-content text-left align-top;

          tr th {
            @apply py-3 uppercase text-sm font-normal;

            &:not(:last-child) {
              @apply pr-3;
            }
          }
        }

        tbody {
          tr {
            @apply border-t border-content;
          }

          tr td {
            @apply py-3;

            &:not(:last-child) {
              @apply pr-3;
            }
          }
        }
      }
    }

    // Images
    figure.wp-block-image,
    figure.wp-block-video,
    figure.wp-block-embed {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
      }

      img,
      video,
      .wp-block-embed__wrapper iframe {
        @apply w-full h-auto;
      }
    }

    // Embeds
    figure.wp-block-embed {
      .wp-block-embed__wrapper {
        @apply flex w-full justify-center;
      }

      &.wp-has-aspect-ratio {
        &.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe {
          @apply aspect-video;
        }

        &.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe {
          @apply aspect-[4/3];
        }
      }
    }

    // Buttons
    .wp-block-buttons {
      @apply flex flex-col gap-3 md:col-span-16 lg:col-span-12 2xl:col-span-10;
    }
    .wp-block-button {
      @apply flex justify-center w-full;
    }
    .wp-block-button__link {
      @apply w-full p-10 uppercase text-center text-action-reverse bg-action border border-action transition-colors;
      @apply hover:text-action-focus-reverse focus:text-action-focus-reverse hover:bg-action-focus focus:bg-action-focus hover:border-action-focus focus:border-action-focus;
    }
    .is-style-outline .wp-block-button__link {
      @apply bg-transparent border-none text-action transition-shadow shadow-inner shadow-action;
      @apply hover:shadow-inner-thick hover:shadow-action focus:shadow-inner-thick focus:shadow-action;
    }

    // Files
    .wp-block-file {
      @apply flex md:col-span-16 lg:col-span-12 2xl:col-span-10;

      a:not(.wp-block-file__button) {
        @apply flex items-center justify-between gap-10 w-full p-10;
        @apply uppercase font-semibold;
        @apply bg-action text-action-reverse transition duration-300;
        @apply hover:text-action-focus-reverse focus:text-action-focus-reverse hover:bg-action-focus focus:bg-action-focus;

        &:has(+ a.wp-block-file__button) {
          @apply md:py-8;

          &::after {
            content: '';
            @apply block shrink-0 bg-current mask-arrow-down size-8 md:size-10;
            @apply transition-transform duration-300 hover:translate-y-1 focus:translate-y-1.5;
          }
        }
      }

      a.wp-block-file__button {
        @apply hidden;
      }
    }

    // Related Articles
    div[data-block='related-articles'] {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
      }
    }

    // Header Text
    div[data-block='header-text-small'] {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-18 md:col-start-4 lg:col-span-16 lg:col-start-5 2xl:col-span-12 2xl:col-start-7;
      }
    }
    div[data-block='header-text-large'] {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-full;
      }
    }

    // Cover
    .wp-block-cover {
      &:not(.alignwide):not(.alignfull) {
        @apply md:col-span-16 lg:col-span-12 2xl:col-span-10;
      }

      &.alignwide {
        @apply md:col-span-20 lg:col-span-16;
      }

      &.alignfull {
        @apply md:col-span-screen;

        img,
        video {
          @apply w-full h-auto;
        }

        .wp-block-cover__inner-container {
          @apply md:px-[--grid-site-margin];

          h2,
          h3 {
            @apply md:type-sans-lg;
          }
        }
      }

      .wp-block-cover__inner-container {
        @apply md:grid md:gap-x-grid-site-gutter md:grid-cols-2 mt-2;

        h2,
        h3 {
          @apply uppercase type-sans-md text-balance max-w-screen-sm max-md:indent-8;
        }

        h4 {
          @apply uppercase type-sans-sm text-balance max-w-screen-sm max-md:indent-8;
        }

        p {
          @apply indent-8 lg:max-w-text-narrow;
        }

        * + * {
          @apply max-md:mt-2;
        }
      }
    }

    // Details
    .wp-block-details {
      @apply flex flex-col gap-3 md:col-span-16 lg:col-span-12 2xl:col-span-10 pl-8 relative;
      @apply prose;

      &::before {
        content: '';
        @apply absolute left-0 top-[2px] flex size-5 bg-green;
      }

      summary {
        @apply hover:cursor-pointer font-bold uppercase;

        &::marker,
        &::-webkit-details-marker {
          @apply content-none size-0;
        }

        &::before {
          content: '';
          @apply absolute left-[5px] top-[11px] flex size-5 bg-black w-2.5 h-0.5;
        }

        &::after {
          content: '';
          @apply absolute left-[9px] top-[7px] flex size-5 bg-black h-2.5 w-0.5 transition-transform;
        }
      }

      &[open] {
        summary::after {
          @apply rotate-90;
        }
      }

      * + * {
        @apply mt-6;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply indent-8;
      }
    }
  }

  .article {
    // Paragraphs
    > p {
      &:last-child::after {
        content: '';
        @apply ml-1 inline-block shrink-0 bg-current mask-critter size-[0.9em];
      }
    }
  }
}
