<div data-block="interface-image" class="mt-16 pt-3 col-span-full {{ alignclass }}">
  <figure class="shadow-inner-interface p-2.5 bg-stone rounded-md">
    <img src="{{ image.url }}" alt="" class="rounded-lg" >
  </figure>
</div>
