<div class="article-footer">
  <div class="article-footer__inner">
    {% if post.bylines is not empty %}
      <div class="article__byline__author">
        {% include 'components/articles/byline_format.twig' with { bylines: post.bylines } %}
      </div>
    {% endif %}

    <div class="article-footer__date">{{ post.date|date('M d, Y') }}</div>
  </div>
</div>
