{% if post.authors is not empty %}
  <section class="grid grid-site centered-page">
    <div class="border-t border-black pt-6 grid grid-cols-subgrid col-span-full md:col-span-16 md:col-start-5">
      <h2 class="col-span-full md:col-span-8">About the Author{% if post.authors|length > 1 %}s{% endif %}</h2>

      <div class="flex flex-col gap-4 max-md:mt-4 col-span-full md:col-span-8">
        {% for author in post.authors %}
          <div class="flex flex-col gap-1">
            {{ author.about }}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
