<article class="article-body">
  {% include "byline.twig" with post.article_info %}
  {% include "share-tools.twig" with article %}

  <div x-hang-punc class="article-body-width">

    {% for block in post.article_body %}
      {% include "paragraphs.twig" with {'dropcap': loop.index0 == 0} %}
      {% include "" ~ block.article_component ~ ".twig" with block.content %}
    {% endfor %}

    {% include "paragraphs.twig" %}

  </div>
</article>
