{% if overline %}

{% set bg_color = color | default(overline.color) %}
{% if bg_color == 'green' %}
  {% set overline_class = 'bg-green' %}
{% elseif post.color == 'green-light' %}
  {% set overline_class = 'bg-green-light text-black' %}
{% elseif post.color == 'green-darker' %}
  {% set overline_class = 'bg-green-darker text-white' %}
{% elseif post.color == 'orange' %}
  {% set overline_class = 'bg-orange text-black' %}
{% elseif post.color == 'orange-light' %}
  {% set overline_class = 'bg-orange-light text-black' %}
{% elseif post.color == 'orange-darker' %}
  {% set overline_class = 'bg-orange-darker text-white' %}
{% elseif post.color == 'pink' %}
  {% set overline_class = 'bg-pink text-black' %}
{% elseif post.color == 'pink-light' %}
  {% set overline_class = 'bg-pink-light text-black' %}
{% elseif post.color == 'pink-darker' %}
  {% set overline_class = 'bg-pink-darker text-white' %}
{% elseif post.color == 'stone' %}
  {% set overline_class = 'bg-stone text-black' %}
{% elseif post.color == 'yellow' %}
  {% set overline_class = 'bg-yellow text-black' %}
{% elseif post.color == 'olive' %}
  {% set overline_class = 'bg-olive text-black' %}
{% elseif post.color == 'olive-dark' %}
  {% set overline_class = 'bg-olive-dark text-white' %}
{% elseif post.color == 'blue-green' %}
  {% set overline_class = 'bg-blue-green text-black' %}
{% else %}
  {% set overline_class = 'bg-content text-main' %}
{% endif %}

<p class="text-xs uppercase">
  <a class="py-1 px-1.5 transition-colors hover:bg-main hover:text-content {{ overline_class }}" href="{{ overline.link }}">{{ overline.name }}</a>
</p>

{% endif %}
