{% if overline %}

{% set bg_color = color | default(overline.color) %}
{% if bg_color == 'green' %}
  {% set overline_class = 'bg-green' %}
{% elseif bg_color == 'orange' %}
  {% set overline_class = 'bg-orange' %}
{% elseif bg_color == 'yellow' %}
  {% set overline_class = 'bg-yellow' %}
{% elseif bg_color == 'purple' %}
  {% set overline_class = 'bg-purple' %}
{% elseif bg_color == 'pink' %}
  {% set overline_class = 'bg-pink' %}
{% else %}
  {% set overline_class = 'bg-black text-white' %}
{% endif %}

<p class="text-xs uppercase">
  <a class="py-1 px-1.5 {{ overline_class }}" href="{{ overline.link }}">{{ overline.name }}</a>
</p>

{% endif %}
