{% set socials = [
  {
    "name": "X",
    "url": "https://twitter.com/intent/tweet?url=" ~ article.link|url_encode ~ "&text=" ~ article.post_title|url_encode
  },
  {
    "name": "Facebook",
    "url": "https://www.facebook.com/sharer/sharer.php?u=" ~ article.link|url_encode
  },
  {
    "name": "LinkedIn",
    "url": "https://www.linkedin.com/sharing/share-offsite/?url=" ~ article.link|url_encode
  },
  {
    "name": "Discord",
    "url": "#"
  }
] %}

<ul class="flex flex-wrap max-md:justify-end max-md:gap-x-3 max-md:gap-y-1">
  {% for social in socials %}
    <li class="flex">
      <a
        class="uppercase leading-tight before:content-['['] after:content-[']'] max-md:before:hidden max-md:after:hidden max-md:underline"
        href="{{ social.url }}"
        target="_blank"
        rel="noopener"
      >
        {{- social.name -}}
      </a>
      {% if not loop.last %}
        <span class="leading-tight max-md:hidden" aria-hidden="true">,&nbsp;</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
