{% extends "layouts/base.twig" %}

{% block pageBody %}

<header class="grid grid-site gap-y-12 h-screen grid-rows-[1fr_auto_1fr]">
  <h1 class="sr-only">404 Not Found</h1>

  <svg class="row-start-2 col-span-full md:col-start-3 md:col-span-2/3" viewBox="0 0 900 300" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <rect width="300" height="300" fill="transparent" />
    <rect x="137.5" width="37.5" height="262.5" fill="#00D230" />
    <rect x="100" y="262.5" width="37.5" height="37.5" fill="#00D230" />
    <rect x="49.25" y="168.75" width="214.75" height="37.5" fill="#00D230" />
    <path d="M101.375 37.5H137.375L85.25 168.75H49.25L101.375 37.5Z" fill="#00D230" />
    <rect x="137.5" y="168.75" width="37.5" height="37.5" fill="transparent" />
    <g clip-path="url(#clip0_516_7833)">
      <rect width="300" height="300" transform="translate(300)" fill="transparent" />
      <rect x="300" width="37.5" height="37.5" fill="#00D230" />
      <rect x="300" y="262.5" width="37.5" height="37.5" fill="#00D230" />
      <rect x="562.5" width="37.5" height="37.5" fill="#00D230" />
      <rect x="562.5" y="262.5" width="37.5" height="37.5" fill="#00D230" />
      <path d="M449.98 238.5C434.314 238.5 421.23 235.333 410.73 229C400.397 222.667 392.564 213 387.23 200C382.064 186.833 379.48 170.083 379.48 149.75C379.48 129.417 382.064 112.75 387.23 99.75C392.564 86.5833 400.397 76.8333 410.73 70.5C421.23 64.1667 434.314 61 449.98 61C465.647 61 478.647 64.1667 488.98 70.5C499.48 76.8333 507.314 86.5833 512.48 99.75C517.814 112.75 520.48 129.417 520.48 149.75C520.48 170.083 517.814 186.833 512.48 200C507.314 213 499.48 222.667 488.98 229C478.647 235.333 465.647 238.5 449.98 238.5ZM449.98 214.25C462.98 214.25 472.564 210.583 478.73 203.25C484.897 195.917 487.98 184.333 487.98 168.5V131C487.98 115.167 484.897 103.583 478.73 96.25C472.564 88.9167 462.98 85.25 449.98 85.25C436.98 85.25 427.397 88.9167 421.23 96.25C415.064 103.583 411.98 115.167 411.98 131V168.5C411.98 184.333 415.064 195.917 421.23 203.25C427.397 210.583 436.98 214.25 449.98 214.25ZM473.23 84.25L494.73 85.75L426.73 215.25L405.48 213.75L473.23 84.25Z" fill="#00D230" />
    </g>
    <rect width="300" height="300" transform="translate(600)" fill="transparent" />
    <rect x="625" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="725" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="687.5" y="75" width="25" height="50" fill="#00D230" />
    <rect x="662.5" y="125" width="25" height="50" fill="#00D230" />
    <rect x="712.5" width="50" height="75" fill="#00D230" />
    <rect x="737.5" y="75" width="25" height="50" fill="#00D230" />
    <rect x="737.5" y="125" width="25" height="50" fill="#00D230" />
    <rect x="737.5" y="225" width="25" height="75" fill="#00D230" />
    <rect x="650" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="750" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="675" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="775" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="600" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="700" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="800" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="825" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="850" y="175" width="12.5" height="50" fill="#00D230" />
    <rect x="875" y="175" width="12.5" height="50" fill="#00D230" />
    <defs>
      <clipPath id="clip0_516_7833">
        <rect width="300" height="300" fill="transparent" transform="translate(300)" />
      </clipPath>
    </defs>
  </svg>

  <div class="row-start-3 col-span-full h-fit flex justify-center">
    <a class="button button-sm" href="/">Take me home</a>
  </div>
</header>


{% endblock %}
