{% extends "layouts/base.twig" %}

{% set email_signup_override = page.meta("email_signup") %}

{% block pageBody %}

  {% if categories and categories|length %}
    {% include "components/filter-topper.twig" with {
      title: page.title,
      prefix: "Show me products on",
      categories: categories
    } %}
  {% else %}
    {% include "components/archive-topper.twig" with {
      title: page.title,
      description: page.description,
    } %}
  {% endif %}

  <section aria-label="Posts">
    <h2 class="sr-only">Posts</h2>

    <div class="px-grid-site-margin">
      {% include "components/story-teases.twig" with {
        posts: posts
      } %}
    </div>
  </section>
{% endblock %}
