{% extends "layouts/base.twig" %}

{% set email_signup_override = page.meta("email_signup") %}

{% set nav_theme = page.meta("navigation_theme") %}
{% set page_theme = page.meta("page_theme") %}

{% block pageBody %}

  {% if page.show_filters and categories and categories|length %}
    {% include "components/filter-topper.twig" with {
      page: page,
      total_count: total_count,
      prefix: "Show me products on",
      categories: categories,
      posts: posts
    } %}
  {% else %}
    {% include "components/archive-topper.twig" with {
      title: page.title,
      description: page.description,
    } %}
  {% endif %}

  <h2 class="sr-only">Products</h2>

  <ul class="flex flex-col mb-24 border-b border-content">
    {% for post in posts %}
      <li class="col-span-full md:col-span-1/2 lg:col-span-8 xl:col-span-6">
        {% include 'components/previews/product.twig' with { product: post } %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
