{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  theme-dark
{%- endblock -%}

{% block pageBody %}

  {% include 'components/page-topper.twig' with { title: title } %}

  <h2 class="sr-only">{{ subheading }}</h2>

  <ul x-masonry="md" class="grid grid-site centered-page gap-y-20 mb-24">
    {% for post in posts %}
      <li class="col-span-full md:col-span-1/2 lg:col-span-8 xl:col-span-6">
        {% include 'components/previews/product.twig' with { product: post, archive: true } %}
      </li>
    {% endfor %}
  </ul>

  {% if posts.pagination.pages %}
    <div class="mb-24">
      {% include 'components/pagination.twig' with { pagination: posts.pagination } %}
    </div>
  {% endif %}

  {% include 'components/big-cta-row.twig' with { ctas: page.ctas } %}

{% endblock %}
