{% extends "layouts/base.twig" %}

{% block pageBody %}

{% include "components/filter-topper.twig" with { title: page.title, description: page.description } %}

  <section aria-label="Posts" class="mb-36">
    <h2 class="sr-only">Posts</h2>

    <ul class="flex flex-col gap-y-20 px-grid-site-margin md:grid md:grid-cols-3 md:gap-x-32 lg:gap-x-48 md:gap-y-32">
      {% for post in posts %}
        {% set product = post.product %}

        <li class="flex flex-col gap-y-4">
          {% if post.thumbnail %}
          <div class="relative [--icon-size:4rem] md:[--icon-size:3rem] lg:[--icon-size:4rem]">
            {% include "components/lazy-img.twig" with {
              class: product and product.icons.grayscale ? "[clip-path:polygon(0_calc(100%-var(--icon-size)),var(--icon-size)_calc(100%-var(--icon-size)),var(--icon-size)_100%,100%_100%,100%_0,0_0)]" : null,
              img: get_image(post.thumbnail)
            } %}

            {% if product and product.icons.grayscale %}
              <div class="absolute left-0 bottom-0 w-[--icon-size] pr-1.5 pt-1.5">
                {% include "components/lazy-img.twig" with {
                  class: "[.theme-dark_&]:invert",
                  img: get_image(product.icons.grayscale)
                } %}
              </div>
            {% endif %}
          </div>
          {% endif %}

          <div class="flex flex-col gap-y-[1px]">
            {% if post.category %}
              <p class="text-secondary/60 block font-headline text-xs font-wdth-380 font-light tracking-normal">{{ post.category }}</p>
            {% endif %}

            <h3 class="text-sm leading-tight">
              <a href="{{ post.link }}">
                {{ post.title }}
              </a>
            </h3>
          </div>

        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
