{% extends "layouts/base.twig" %}

{% set email_signup_override = post.meta("email_signup") %}

{% block pageBody %}
  {% include "components/articles/topper.twig" %}

  <article x-headings>
    <div class="md:pt-12 grid grid-site centered-page justify-center">

      <div class="col-span-full md:hidden border-content max-md:pt-1 max-md:pb-1">
        <div class="text-sm flex gap-6 justify-between items-baseline">
          <p class="text-[rgba(var(--color-secondary),0.6)] font-headline text-xs font-wdth-380 leading-tight font-light text-right tracking-normal">Share</p>
          {% include "components/articles/share-tools.twig" %}
        </div>
      </div>

      <div x-headings:content x-hang-punc class="max-md:pt-20 row-start-1 row-end-1 col-start-1 col-end-[13] gutenberg article {{ post.has_lede_paragraph ? 'lede' }} grid grid-cols-[subgrid] gap-x-grid-site-gutter centered-page">
        {{ post.content }}
      </div>

      {# Share Tools #}
      <div class="max-md:hidden md:col-span-4 lg:col-span-3 3xl:col-span-2 md:self-end md:sticky md:bottom-4 text-sm md:h-fit md:row-start-1 md:row-end-1 md:col-start-10 md:col-end-13">
        <div class="max-md:flex max-md:gap-6 max-md:justify-between">
          <p class="text-[rgba(var(--color-secondary),0.6)] font-headline text-xs font-wdth-380 leading-tight font-light text-right tracking-normal">Share</p>
          {% include "components/articles/share-tools.twig" %}
        </div>
      </div>
    </div>

    {% include "components/articles/article-footer.twig" %}

    {# {% include 'components/article-recirculation.twig' with { posts: post.related_articles } %} #}
  </article>

{% endblock %}
