{% extends "layouts/base.twig" %}

{% set custom_nav_classes = "theme-dark" %}

{%- block custom_body_classes -%}
  theme-dark
{%- endblock -%}

{% block pageBody %}
  <h1 class="sr-only">{{ page.title }}</h1>

  {% set topper = page.meta("topper")|first %}

  {% if topper.acf_fc_layout == "typewriter_headline" %}
    {% include "components/typewriter-headline-topper.twig" with topper %}
  {% endif %}

  {% for block in page.meta("blocks") %}
    {% if block.acf_fc_layout == "featured_product" %}
      {% include "components/featured-product.twig" with {
        block: block,
      } %}
    {% endif %}
  {% endfor %}
{% endblock %}
