{% extends "layouts/base.twig" %}

{#
  Temporarily use theme-light for all landing pages. Use dark for typewriter_headline.
  TODO: Allow setting on a per-page basis.
#}
{% set topper = page.meta("topper")|first %}
{% set pageTheme = topper.acf_fc_layout == "typewriter_headline" ? "theme-dark" : "theme-light" %}

{% set custom_nav_classes = pageTheme %}

{%- block custom_body_classes -%}
  {{ pageTheme }}
{%- endblock -%}

{% set email_signup_override = page.meta("email_signup") %}

{% block pageBody %}
  <h1 class="sr-only">{{ page.title }}</h1>

  {% set template_name = topper.acf_fc_layout|replace({'_': '-'}) %}
  {% set template_path = "components/" ~ template_name ~ "-topper.twig" %}

  {% include [template_path] ignore missing with topper %}

  <div class="relative">
    {% for block in page.meta("blocks") %}
      {% set template_name = block.acf_fc_layout|replace({'_': '-'}) %}
      {% set template_path = "components/" ~ template_name ~ ".twig" %}

      {% include [template_path] ignore missing with {
        block: block,
      } %}
    {% endfor %}
  </div>
{% endblock %}
