{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  theme-light
{%- endblock -%}

{% block pageBody %}

<header class="grid grid-site grid-rows-[100dvh] overflow-y-hidden">
  {% set backdrop = post.meta("backdrop_image") %}

  {% if backdrop %}
    {% include "components/lazy-img.twig" with {
      class: "-mx-grid-site-margin col-start-1 col-end-13 row-span-full h-full w-screen",
      imgClass: "object-cover",
      img: get_image(backdrop)
    } %}
  {% endif %}

  <div class="
    col-start-1 col-span-full row-span-full z-10 self-center justify-self-center size-fit
    px-8 pt-9 pb-8 lg:pt-14 lg:pb-12 lg:px-16
    bg-off-black/60 backdrop-blur-md
  ">
    <h1 class="text-white type-headline-2xl">{{ post.title }}</h1>
  </div>
</header>

{% endblock %}
