{# Use an oxford comma if we have more than 2 names #}
{% set andParam = bylines|length > 2 ? ', and ' : ' and ' %}
<span class="max-md:text-right">
  {% if bylines is not empty %}
    {% for author in bylines %}
      <a class="relative z-20 hover-link font-bold" href="{{ author.link }}">
        {{- author.name -}}
      </a>{% if loop.last %}{% else %},{% endif %}
    {% endfor %}
  {% else %}
    Mozilla
  {% endif %}
</span>
