<div class="border-t border-content flex flex-col">
  <a href="{{ product.link }}" class="px-grid-site-margin py-grid-site-margin grid grid-cols-6 md:grid-cols-12 gap-6 relative items-center group overflow-hidden">
    {% if product.thumbnail and product.show_image_on_index %}
      {% if archive %}
        <div class="w-1/2">
          {% include "components/lazy-img.twig" with { img: product.thumbnail } %}
        </div>
      {% endif %}
    {% endif %}

    <div class="md:col-span-3 flex flex-row gap-x-4 items-center z-10">
      <img class="size-[48px]" src="{{ product.icons.grayscale.url }}">
      <h3 class="type-text-20 font-wght-480">
          {{ product.title }}
      </h3>
    </div>
    <p class="md:col-span-6 type-text-20 font-wght-480 z-10">{{ product.tagline }}</p>
    <div class="absolute w-full h-full z-8 opacity-0 group-hocus:opacity-100">
      {% include "components/lazy-img.twig" with { class:"absolute top-1/2 left-0 translate-y-[-50%]", img: product.thumbnail } %}
    </div>
  </a>

  {% if product.thumbnail and product.show_image_on_index %}
    {% if not archive %}
      <div class="w-1/2 lg:mt-6">
        {% include "components/lazy-img.twig" with { img: product.thumbnail } %}
      </div>
    {% endif %}
  {% endif %}


</div>

