<div class="border-t border-content flex flex-col">
  <div class="px-grid-site-margin py-6 grid grid-cols-6 md:grid-cols-12 gap-6 relative items-center">
    {% if product.thumbnail and product.show_image_on_index %}
      {% if archive %}
        <div class="w-1/2">
          {% include "components/lazy-img.twig" with { img: product.thumbnail } %}
        </div>
      {% endif %}
    {% endif %}



    <div class="md:col-span-3">
      <h3 class="type-text-20 font-wght-480">
        <a href="{{ product.link }}" class="before:absolute before:inset-0 before:z-10 hocus:text-action-focus-reverse hocus:bg-action-focus">{{ product.title }}</a>
      </h3>
    </div>

    <p class="md:col-span-6 type-text-20 font-wght-480">{{ product.tagline }}</p>
  </div>

  {% if product.thumbnail and product.show_image_on_index %}
    {% if not archive %}
      <div class="w-1/2 lg:mt-6">
        {% include "components/lazy-img.twig" with { img: product.thumbnail } %}
      </div>
    {% endif %}
  {% endif %}
</div>

