<a href="{{ href }}"
  class="flex justify-center w-full p-10 uppercase text-center text-content border border-content transition-colors
         hover:text-action-reverse focus:text-action-focus-reverse hover:bg-action-focus focus:bg-action-focus hover:border-action-focus focus:border-action-focus">
  {{ label }}
</a>
