<a href="{{ href }}"
  class="flex justify-center w-full p-10 uppercase text-center text-content border-none transition-shadow shadow-inner shadow-content
         hover:shadow-inner-thick hover:shadow-content focus:shadow-inner-thick focus:shadow-content">
  {{ label }}
</a>
