<footer class="mt-24 p-site flex flex-col gap-4 centered-page">
  <svg class="w-full aspect-mozilla-logo" aria-label="Builders">
    <use xlink:href="#mozillalogo"></use>
  </svg>

  <div class="flex items-start justify-between text-xs uppercase font-semibold gap-6">
    <p class="whitespace-nowrap"><a href="https://mozilla.org/">Mozilla</a> &copy; {{ now|date('Y') }}</p>

    <ul class="flex flex-wrap items-center justify-end gap-x-6 gap-y-1.5 text-right">
      <li><a href="#">Terms and Services</a></li>
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
