<footer class="mt-10 p-6 flex flex-col gap-3">
  <svg class="w-full aspect-logo" aria-label="Builders">
    <use xlink:href="#logo"></use>
  </svg>

  <div class="flex items-center justify-between text-xs uppercase font-semibold">
    <p><a href="https://mozilla.org/">Mozilla</a> &copy; {{ now|date('Y') }}</p>

    <ul class="flex items-center gap-x-6">
      <li><a href="#">Terms and Services</a></li>
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
