<div class="centered-page px-grid-site-margin">
  <div class="border-t border-content pt-2 mt-12 mb-16 md:mt-16 md:mb-24 xl:mt-20 xl:mb-30">
    <div class="flex items-baseline gap-3 type-headline-xl md:type-headline-3xl uppercase">
      <svg class="inline-flex h-[0.69em] aspect-[47/104] text-action">
        <use href="#protocol" />
      </svg>
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
</div>
