<div class="centered-page px-grid-site-margin">
  <div class="border-t border-content pt-2 mt-8 mb-24 md:mb-48">
    <div class="flex items-baseline gap-3 type-headline-2xl">
      <svg class="inline-flex h-[0.69em] aspect-[47/104] text-action">
        <use href="#protocol" />
      </svg>
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
</div>
