{% extends "layouts/base.twig" %}

{% set email_signup_override = post.meta("email_signup") %}

{% block pageBody %}

  {% include 'components/page-topper.twig' with {
    post: post,
  } %}

  <article x-headings>
    <div class="md:pt-16 grid grid-site justify-center">
      <div x-headings:content x-hang-punc class="max-md:pt-20 row-start-2 row-end-2 md:row-start-1 md:row-end-1 col-start-1 col-end-[7] md:col-end-[13] gutenberg article {{ post.has_lede_paragraph ? 'lede' }} grid grid-cols-[subgrid] gap-x-grid-site-gutter centered-page">
        {{ post.content }}
      </div>
    </div>
  </article>

{% endblock %}
