{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  theme-dark
{%- endblock -%}

{% block pageBody %}

  {% include 'components/page-topper.twig' %}

  <ul class="grid grid-site centered-page gap-y-20">
    {% for post in posts %}
      <li class="col-span-full md:col-span-1/2 lg:col-span-6">
        {% include 'components/previews/project.twig' with { project: post } %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
