{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  {{ article.is_light_nav ? 'light-nav' }}
{%- endblock -%}

{%- block custom_content_classes -%}
  js-modal-gallery article
{%- endblock -%}

{% block pageBody %}

  {% include "components/articles/toppers/topper--" ~ (article.topper_type|default('text_only')) ~ ".twig" %}

  <article>
    {% include "components/articles/byline.twig" %}

    <div class="pt-12 gutenberg {{ article.has_lede_paragraph ? 'lede' }} js-hang-punc">

      {{ article.content }}

    </div>
    {% include "components/articles/article-footer.twig" %}
  </article>

  {% include "components/articles/modal-gallery.twig" %}

{% endblock %}
