{% extends "layouts/base.twig" %}

{% block pageBody %}

<h1 class="sr-only">Mozilla Builders</h1>

<div class="flex flex-col flex-1 gap-y-20 xl:gap-y-28">
  {% include 'components/front-page/large-tease-jumble.twig' with { posts: featured_posts } %}

  {% include 'components/front-page/builders.twig' %}

  {% include 'components/front-page/small-tease-jumble.twig' with { posts: secondary_posts } %}

  {% include 'components/front-page/projects-tease.twig' with { projects: featured_projects } %}

  <section>
    <div class="centered-page px-grid-site-margin">
      <h2 class="type-sans-2xl uppercase">Latest</h2>
    </div>

    {% include 'components/tease-list.twig' with { posts: latest_posts } %}
  </section>
</div>

{% endblock %}
