{% extends "layouts/base.twig" %}

{% block pageBody %}

  {% include 'components/page-topper.twig' with { title: post.title } %}

  <article>
    <div class="pb-24 gutenberg {{ post.has_lede_paragraph ? 'lede' }} js-hang-punc">
      {{ post.content }}
    </div>
  </article>

{% endblock %}
