{% extends "layouts/base.twig" %}

{% block pageBody %}

  {% include 'components/articles/toppers/topper--small_image.twig' %}

  <article>
    <div class="pt-12 pb-24 gutenberg {{ post.has_lede_paragraph ? 'lede' }} js-hang-punc">
      {{ post.content }}
    </div>
  </article>

{% endblock %}
