{% extends "layouts/base.twig" %}

{% block pageBody %}

  {% include 'components/page-topper.twig' with { title: post.title } %}

  <article>
    <div class="pb-24 gutenberg {{ post.has_lede_paragraph ? 'lede' }} js-hang-punc">
      {{ post.content }}
    </div>
  </article>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-px mx-grid-site-margin">
    {% for cta in page.ctas %}
      {% if cta.link_type == "post_archive" %}
        {% set label = 'Content' %}
        {% set href = archive_links.posts %}
      {% elseif cta.link_type == "project_archive" %}
        {% set label = 'Projects' %}
        {% set href = archive_links.projects %}
      {% elseif cta.link_type == "discord" %}
        {% set label = 'Discord' %}
        {% set href = archive_links.discord %}
      {% else %}
        {% set label = cta.custom_link.title %}
        {% set href = cta.custom_link.url %}
      {% endif %}

      {% include 'components/big-cta.twig' with {
        top: cta.top_text,
        bottom: cta.bottom_text,
        label: label,
        href: href,
        color: cta.cta_color
      } %}

    {% endfor %}
  </div>

{% endblock %}
