{% if post.thumbnail.id %}
  {% set asset = get_image(post.thumbnail.id) %}
{% endif %}

<header class="flex flex-col pt-48 gap-4 centered-page">
  <div class="w-full grid grid-site max-md:flex-col max-md:items-center md:justify-items-center">
    <div class="flex items-end col-span-full w-full md:col-span-6 md:col-start-4 md:max-w-[600px] max-md:order-2">
      <div class="flex flex-col items-start">
        <div class="flex justify-center">
          {% include 'components/articles/overline.twig' with { overline: post.categories[0] } %}
        </div>

        <h1 class="type-headline-40 text-balance leading-none">{{ post.title }}</h1>
      </div>
    </div>

    <div class="row-start-2 col-span-6 md:col-span-12 w-full">
    {% include "components/articles/byline.twig" %}
    </div>


    <div class="row-start-3 mt-24 my-12 flex col-span-full md:col-span-6 md:w-full md:max-w-[600px] md:col-start-4 max-md:order-1">
      <div class="w-full mx-auto max-md:max-w-xs">
        {% if asset %}
          {% include 'components/lazy-img.twig' with {
            img: asset,
            class: 'w-full',
          } %}
        {% else %}
          <div class="flex w-full aspect-square bg-gray"></div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

