<header class="grid justify-items-center grid-site centered-page pt-40">
  <div class="w-full col-span-6 md:col-span-6 md:max-w-[600px] lg:col-span-6 2xl:col-span-10 4xl:col-span-8 col-start-center">
    <div class="py-6 flex flex-col items-left justify-between">
      <div>
        {% include 'components/articles/overline.twig' with { overline: post.categories[0], color: post.color } %}
      </div>

      <h1 class="type-headline-40 text-balance">{{ post.title }}</h1>

      {# {% if post.subtitle %}
        <p class="type-sans-lg uppercase text-center text-balance order-3">
          {{ post.subtitle }}
        </p>
      {% endif %} #}
    </div>
  </div>
</header>
