<nav class="flex items-start justify-between gap-6 p-6">
  <div class="mt-1 flex-1 flex justify-start">
    <p class="text-white text-sm">
      <span class="bg-black py-1">Building in the open with open source AI. Powered by Mozilla.</span>
    </p>
  </div>

  <a href="{{ site.url }}">
    <svg class="max-w-96 w-[40vw] aspect-logo">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <div class="mt-1 flex-1 flex justify-end">
    <ul class="flex flex-wrap items-center gap-x-6">
      {% for item in nav_pages_menu.items %}
      <li class"flex">
        <a
          href="{{ item.url }}"
          class="text-sm"
          {% if item.current %}aria-current="page"{% endif %}>
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
